@keyframes example {
    0% {
        transform:translateY(-75%)
    }      
    100%{
        transform: translateY(75%);
    }
}   

.slot1 {
    position: absolute;
    width: 90px;
    height: 220px;
    float: left;
    padding: 10px;
    left: 550px;
    top: 190px;
    border: 4px solid black;
    overflow: hidden;
}

.slot2 {
    position: absolute;
    width: 90px;
    height: 220px;
    float: left;
    padding: 10px;
    left: 650px;
    top: 190px;
    border: 4px solid black;
    overflow: hidden;
}

.slot3 {
    position: absolute;
    width: 90px;
    height: 220px;
    float: left;
    padding: 10px;
    left: 750px;
    top: 190px;
    border: 4px solid black;
    overflow: hidden;
}

.stopButton {
    position: absolute;
    left: 700px;
    top: 450px;
}

.startButton {
    position: absolute;
    left: 640px;
    top: 450px;
}

.icon {
    position: absolute;
    top: 40px;
    animation-name: example;
    animation-iteration-count: infinite;
    animation-duration: 0s;
    animation-timing-function: ease-in;
    transform: translatey(-35%);
}

.icon2 {
    position: absolute;
    top: 40px;
    animation-name: example;
    animation-iteration-count: infinite;
    animation-duration: 0s;
    animation-timing-function: ease-in;
    transform: translatey(-35%);
}

.icon3 {
    position: absolute;
    top: 40px;
    animation-name: example;
    animation-iteration-count: infinite;
    animation-duration: 0s;
    animation-timing-function: ease-in;
    transform: translatey(-35%);
}

.victoryRowArrow {
    position: absolute;
    left: 500px;
    top: 270px;
}